/* Style for the navigation bar */
.navbar {
    background: linear-gradient(to right, #1e2267, #a8acf1);
    color: #fff;
    padding: 5px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  /* Style for the navigation links */
  .navbar-brand,
  .navbar-nav .nav-link {
    color: #fff;
    transition: color 0.3s ease;
  }
  
  .navbar-nav .nav-link:hover {
    color: #fefdfd;
  }
  
  /* Style for the active link */
  .nav-item.active .nav-link {
    font-weight: bold;
  }
  
  /* Style for the navbar toggle button icon */
  .navbar-toggler-icon {
    background-color: #fff;
    border-radius: 2px;
  }
  
  /* Style for the container */
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  /* Responsive adjustments for smaller screens */
  @media (max-width: 768px) {
    .navbar {
      padding: 10px;
    }
  
    .navbar-toggler-icon {
      background-color: #31302b;
    }
  }